extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')
  
  div.mainbody
    .firstimage
      .gradbottom
      .mw
        div(class="women split left")
          a(href='/scents/women') &#9792;
        .separe
        div(class="men split right")
          a(href='/scents/men') &#9794;
      .gradtop
    .ascentsteps
      .steps
        .step
          .text
            span 1. Alege parfumul
          img(src='images/site/pas1.jpg')
        .step
          .text
            span 2. Activeaza abonamentul
          img(src='images/site/pas2.jpg')
          a(href='/scents/subscriptions').gobuynow Buy now!
        .step
          .text
            span 3. Bucura-te de parfum
          .image
    div(class="featured")
      .rows
        .row
          img(src='images/site/topq1.jpg')
          .info
            h4.title Our Story
            span Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500
          a.more &#8594;
        .row
          img(src='images/site/topq2.jpg')
          .info
            h4.title Top Quality
            span Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500
          a.more &#8594;
    
    
    script(src='../javascripts/mwui.js')