extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')
  
  div.mainbody.andu.andu-unfix
    .firstimage
      .gradbottom
      .mw
        if false
          a.btn.joinus-btn.bordered(href='/users/register') JOIN US!
        div(class="women split left")
          a(href='/scents/women') 
            i.material-icons.medium female
        .separe(style="opacity: 1 !important")
        div(class="men split right")
          a(href='/scents/men')
            i.material-icons.medium male
      .gradtop
    .ascentsteps
      .steps
        .step
          .title 
            span 1. Alege-ti parfumul!
          div.imagebuy 
            img(src='images/site/pas1.jpg')
          .text
            span Alege-ți parfumul preferat din gama noastră!
        .step
          .title 
            span 2. Profită de oferte!
          div.imagebuy 
            img(src='images/site/pas2.jpg')
          .text
            span Fiecare flacon conține 8 ml de parfum ce se traduce în 140 de pufuri care au fost calculate sa persiste o luna!
          
        .step
          .title 
            span 3. Bucură-te de parfum!
          div.imagebuy 
            img(src='images/site/pas3.jpg')
          .text
            span Bucură-te de parfumul mult visat. La prima comanda vei primi și o capsula la alegere cadou. Poți anula oricând fără consecințe. 

    div(class="featured")
      .rows
        .row
          img(src='images/site/topq1.jpg')
          .info
            h4.title Povestea noastră
            span.
              Ascent este despre magia și savoarea parfumurilor. Noi am creat acest brand pentru a-i susține pe pasionați sa descopere noi orizonturi olfactive. Cu Ascent poți experimenta în fiecare luna parfumuri de lux din toată lumea fără a-ți face griji de preturi. Bine ai venit în universul nostru plin de elegenata care te aștepta să-l descoperi!
          //a.more &#8594;
        .row
          img(src='images/site/topq2.jpg')
          .info
            h4.title Cea mai bună calitate
            span.
              Noi lucram doar cu producători și distribuitori de top din toată Europa care sunt specializați în vânzarea produselor 100% originale, dar și cu casele de nișă care își cauta un loc în care să își demonstreze unicitatea.
          //a.more &#8594;
    
    
    script(src='../javascripts/mwui.js')
