doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="icon" href="../images/logo.png")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    meta(name="google-site-verification" content="lHkfhuYX75GS_wCwflRhkDplr0yb7ANH2yKVBgeY1Gs")

  body
    link(rel='stylesheet', href='/stylesheets/index.css')
    div(style='position: relative !important; z-index: 2000', class='top-oferta')
      span(style='color: white') Oferta Noua!
    .navbar-unfix.navbar
      .navbar-header.flex
        a.navbar-brand(href='../').flex
          img.logoimg(src='/images/logo.png')
      .navbar-center
        a(style='font-weight: 700 !important;' href='../') Ascent
      .navbar-body
        ul.nav.navbar-nav
          if !user
            li.login(class =(title == 'Login' ? 'active' : ''))
              a(href='/users/login').flex
                i(class='material-icons') person
          else
            if user
              li.hideon-sw
                a(href='/myaccount').flex
                  i(class='material-icons') person
              li.flex.hideon-sw
                a(href='/scents/cart').flex
                  i(class="material-icons") shopping_cart
          li.menu
              i(class='material-icons') menu
    .customsidenav.customsidenav-unfix
      .content.container
        span Main
        li.home
          a(href='/') Home
        if !user
          li.register(class =(title == 'Register' ? 'active' : ''))
            a(href='/users/register') Register
          li.login(class =(title == 'Login' ? 'active' : ''))
            a(href='/users/login') Log In
         
        span Perfumes
        li
          a(href='/scents/men') For men
        li
          a(href='/scents/women') For women

        if user
          span Shop & Cart
          li.flex
            a(href='/scents/cart').flex Shopping Cart
                //i(class="material-icons") shopping_cart
          li.flex
            a(href='/myaccount/orders') My orders 
          

        if user
          span Account
          li
            a(href='/myaccount') My account
          li
            a(href='/users/logout') Log Out
        
        if user
          if user.status != 'verified'
            span Verify your account!
            li
              a.verify(href='/verify') Verify account
    .messages(style='position: absolute;')
      if true
        != messages()
      if user
        if user.status != 'verified'
          li(style='  list-style: none !important;')
            a.verify(href='/verify') Verify your account!
    
    block content
    div(class="page-footer footer")
      div.container
        div.row
          div(class="col l6 s12")
            h5(class="white-text") Contact us at <a href='mailto:ascent.romania.help@gmail.com'>ascent.romania.help@gmail.com</a>
          div(class="col l4 offset-l2 s12")
            h5 Follow Us!
            ul
              li.followus
                a(class="grey-text text-lighten-3" href="#!") <i class="fa fa-instagram"></i>
                a(class="grey-text text-lighten-3" href="#!") <i class="fa fa-facebook"></i>
              //-li
                a(class="grey-text text-lighten-3" href="#aboutus") About Us
              //-li
                a(class="grey-text text-lighten-3" href="#!help") Help
              li
                a(class="grey-text text-lighten-3" href="#!invite") Invite friend!
      div.footer-copyright
        div.container © 2020 Ascent Romania
          a(class="grey-text text-lighten-4 right" href="#!") Privacy Policy
          
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    script(src='/javascripts/ui.js')