extends layout

block content
    
    .form-container.login
        .modal-form(style='z-index: 2;')
            .content.container
                a.brand-logo(href='../')
                    img.logoimg(src='../images/logo.png')
                form(method='post', action='/users/login', enctype='urlencoded')
                    .form-group
                        label Username
                        input.form-control(name='username', type='text', placeholder='Username')
                    .form-group
                        label Password
                        input.form-control(name='password', type='password',
                         placeholder='Parola')
                    input.btn.btn-prymary(type='submit', name ='submit', value='Autentificare')
                    .loginre
                        span Client nou?
                        a(href='/users/register') Creeaza cont
                        a(href='/google' class="oauth-container btn darken-4 white black-text" style="text-transform:none; color: black !important; overflow: visible !important;")
                            .right
                                img(width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in" 
                                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png")
                            span Login with &nbsp;
                        form(method='post', action='/google', enctype='urlencoded')
                            input(type='submit' value='Google')
            .msgs
             != messages()
