extends layout

block content
    
    .form-container.login
        .modal-form(style='z-index: 2;')
            .content.container
                a.brand-logo(href='../')
                    img.logoimg(src='../images/logo.png')
                form(method='post', action='/users/login', enctype='urlencoded')
                    .form-group
                        label Username
                        input.form-control(name='username', type='text', placeholder='Username')
                    .form-group
                        label Password
                        input.form-control(name='password', type='password',
                         placeholder='Parola')
                    input.btn.btn-prymary(type='submit', name ='submit', value='Autentificare')
                    .loginre
                        span Client nou?
                        a(href='/users/register') Creeaza cont
                        form(method='post', action='/google', enctype='urlencoded')
                            input(type='submit' value='Google')
            .msgs
             != messages()