@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900);
@import url(../fonts/Felixti.TTF);
:root {
  --container-bg-color: #333;
  --left-bg-color: rgba(223, 39, 39, 0.7);
  --left-bg-color-clean: rgba(223, 39, 39);
  --left-button-hover-color: rgba(161, 11, 11, 0.3);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --right-button-hover-color: rgba(92, 92, 92, 0.3);
  --hover-width: 10em;
  --other-width: 0em;
  --speed: 300ms;
}

body::-webkit-scrollbar {
  display: none !important;
  background-color: black !important;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9 {
  overflow: visible !important;
}

.logoimg {
  max-height: 55px;
  max-width: 55px;
}

.swal2-icon {
  overflow: visible !important;
}

.verify {
  text-decoration: underline !important;
  color: white !important;
}

* {
  font-family: "Raleway", Helvetica, Arial, sans-serif !important;
  overflow-x: hidden !important;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row.jcenter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-row.jstart {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-row.jend {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-row.jspace-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-row.jspace-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-row.jspace-evenly {
  -ms-grid-column-align: space-evenly;
      justify-self: space-evenly;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column.jcenter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-column.jstart {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-column.jend {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-column.jspace-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-column.jspace-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-column.jspace-evenly {
  -ms-grid-column-align: space-evenly;
      justify-self: space-evenly;
}

@font-face {
  font-family: "Felix Titling";
  src: url("../fonts/Felixti.TTF");
  src: url("../fonts/Felixti.TTF") format("truetype");
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

h1 {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  overflow: visible !important;
  padding: 0 !important;
  font-size: 2em !important;
  font-weight: 600;
  margin: 0 0 0 0 !important;
}

.mainbody {
  position: relative;
  top: 65px !important;
  width: 100vw !important;
  overflow: hidden;
  overflow-y: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000fc)), url(../images/texturepainting.jpg);
  background: linear-gradient(#000000, #000000fc), url(../images/texturepainting.jpg);
  background-position: center;
  background-size: cover;
}

html, body {
  overflow-x: hidden;
  position: relative;
}

.container-fluid.menwomen {
  display: none !important;
  position: fixed;
  width: 100% !important;
  height: 195px !important;
  top: 65px !important;
  background: var(--container-bg-color);
}

.container-fluid.menwomen::before {
  content: '';
  z-index: 3;
  position: absolute;
  height: 50%;
  width: 100%;
  top: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#00000000));
  background: linear-gradient(#000000, #00000000);
}

.bl {
  display: block !important;
}

.split {
  min-width: 0em;
  cursor: pointer !important;
}

@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
  }
  .button {
    width: 12rem;
  }
}

@media (max-height: 700px) {
  .button {
    top: 70%;
  }
}

.material-icons {
  font-family: "Material Icons" !important;
}

.navbar {
  width: 100%;
  position: fixed;
  height: 65px !important;
  z-index: 1000;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar * {
  font-size: large;
  color: #fff !important;
}

.navbar .navbar-header {
  z-index: 2;
}

.navbar .navbar-header .navbar-brand {
  padding-left: 5px;
  padding-right: 1em;
}

.navbar .navbar-center {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .navbar-center a {
  font-size: 2em !important;
  font-family: "Felix Titling" !important;
}

.navbar .navbar-body {
  z-index: 2;
}

.navbar .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav li {
  padding-left: 1em;
  padding-right: 1em;
}

.navbar .nav li:hover a {
  color: #bbbbbb !important;
}

@media screen and (max-width: 600px) {
  .navbar .nav li {
    padding-left: 0.3em !important;
    padding-right: 1em !important;
  }
}

.navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.ascent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ascent span {
  font-size: 4em;
  color: whitesmoke !important;
  letter-spacing: 0.5rem;
  font-weight: 600;
}

.firstimage {
  position: relative;
  height: 40em !important;
  min-width: 100vw;
  background: url(../images/site/submf.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.gradbottom {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000000));
  background: linear-gradient(transparent, #000000);
  height: 10em !important;
  position: absolute;
  min-width: 100%;
  bottom: 0 !important;
}

.con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white !important;
  width: 100%;
  height: 100% !important;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  margin-top: 65px !important;
}

.con span {
  text-align: center;
  padding: 1em;
}

.mw {
  position: absolute;
  z-index: 2 !important;
  width: 100%;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 10em !important;
}

.mw a {
  font-size: 3em !important;
  color: white !important;
  font-weight: bold;
  padding: 1em;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.mw .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-height: 700px) {
  .mw .left, .mw .right {
    min-width: 0em;
    -webkit-transition: var(--speed) all ease-in-out;
    transition: var(--speed) all ease-in-out;
  }
  .mw.hover-left .left {
    min-width: var(--hover-width);
  }
  .mw.hover-left .left a {
    color: #bbbbbb !important;
  }
  .mw.hover-left .right {
    min-width: var(--other-width);
  }
  .mw.hover-right .right {
    min-width: var(--hover-width);
  }
  .mw.hover-right .right a {
    color: #bbbbbb !important;
  }
  .mw.hover-right .left {
    min-width: var(--other-width);
  }
}

.mw .separe {
  width: 1px;
  height: 3em;
  background-color: white;
}

.gradtop {
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(transparent));
  background: linear-gradient(#000000, transparent);
  height: 10em !important;
  position: absolute;
  min-width: 100%;
  top: 0 !important;
}

.rows {
  width: 100vw !important;
  margin: 0 0 0 0 !important;
}

@media screen and (max-width: 600px) {
  .rows {
    width: unset !important;
    margin: unset !important;
  }
}

.featured {
  width: 100%;
  margin-top: 20px;
}

.featured .row {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  height: 100vh;
  width: 100vw !important;
  margin: 0 0 0 0 !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 600px) {
  .featured .row {
    height: unset;
    width: unset !important;
    margin: unset !important;
  }
}

@media screen and (min-width: 800px) {
  .featured .row {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
  }
}

.featured .row:nth-child(even) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row-reverse !important;
      flex-direction: row-reverse !important;
}

.featured .row img {
  height: 100%;
  width: auto;
  min-height: 20em;
  background-color: var(--container-bg-color);
}

@media screen and (max-width: 600px) {
  .featured .row img {
    width: 20em !important;
    margin: unset !important;
  }
}

.featured .row .info {
  min-width: 20em;
  min-height: 20em;
  height: auto;
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  padding-left: .5em;
  padding-right: .5em;
  margin: 3em !important;
  height: 20em;
  width: 20em;
  max-height: 20em;
  min-height: 20em;
  overflow-y: hidden;
}

.featured .row .info * {
  color: white !important;
}

.featured .row .info span {
  color: white !important;
}

.featured .row .more {
  color: white !important;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 2em;
}

.featured .row .more:hover {
  font-size: large;
}

@media screen and (max-width: 60em) {
  .featured {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.customsidenav {
  position: fixed;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  width: 300px;
  top: 0;
  margin: 0;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  right: 0 !important;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  z-index: 9;
  background-color: #000;
}

.customsidenav .content {
  position: relative;
  top: 65px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2em;
}

.customsidenav .content li {
  padding-top: .2em;
  padding-bottom: .2em;
}

.customsidenav .content li:hover a {
  color: #bbbbbb !important;
}

.customsidenav .content li a {
  font-size: larger;
}

.customsidenav .content li a:hover {
  color: #bbbbbb !important;
}

.customsidenav li {
  list-style: none;
}

.customsidenav li a {
  color: white !important;
}

.customsidenav.active {
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
}

.msgs #messages .error {
  background-color: rgba(255, 24, 24, 0.438);
  color: white;
}

.msgs #messages .success {
  background-color: rgba(70, 255, 24, 0.452);
  color: white;
}

.success, .succes {
  background-color: rgba(70, 255, 24, 0.452) !important;
  color: white !important;
}

.messages {
  z-index: 1000;
  top: 70px;
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  position: absolute;
}

.messages #messages .error {
  background-color: rgba(255, 24, 24, 0.438);
  color: white;
}

.messages #messages .success {
  background-color: rgba(70, 255, 24, 0.452);
  color: white;
}

/*login register*/
.loginre {
  padding: .4em;
  position: relative !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loginre span {
  color: white;
}

.loginre .oauth-container {
  height: 43px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2em;
  width: calc(100% + 40px) !important;
}

.loginre .oauth-container .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loginre .oauth-container .left img {
  margin: 0 !important;
  margin-right: 10px !important;
}

.loginre .oauth-container * {
  color: black !important;
}

.form-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000fc)), url(../images/texturepainting.jpg);
  background: linear-gradient(#000000, #000000fc), url(../images/texturepainting.jpg);
  background-position: center;
  background-size: cover;
}

@media screen and (max-height: 500px) {
  .form-container {
    height: 150%;
  }
}

@media screen and (max-height: 500px) {
  .form-container.register {
    height: 200%;
  }
}

.form-container .content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-container .content form input {
  background-color: #0c0c0c;
  color: white;
  padding-left: 10px !important;
  width: calc(100% - 10px) !important;
}

.form-container .content form input[type='submit'] {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--left-bg-color-clean)), to(#000)) !important;
  background: linear-gradient(var(--left-bg-color-clean), #000) !important;
  width: calc(100% + 10px) !important;
  margin-top: 1em;
  height: 43px !important;
}

.error-content {
  margin-top: 5px;
  background-color: rgba(255, 24, 24, 0.438);
  color: white !important;
}

.footer {
  bottom: 0 !important;
  width: 100% !important;
  position: relative !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
}

.footer span {
  color: white !important;
  font-size: large;
}

.footer form {
  max-width: 20em;
}

.footer form input {
  background-color: #0c0c0c;
  color: white !important;
}

.footer form input[type="submit"] {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--left-bg-color)), to(#000)) !important;
  background: linear-gradient(var(--left-bg-color), #000) !important;
  border: none !important;
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 1em;
  margin-top: 7em;
  margin-bottom: 50px;
}

@media screen and (max-width: 412px) {
  .steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.steps .step {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps .step .text {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.steps .step .text span {
  color: #fff;
  font-size: 2em;
  text-align: center;
  font-size: medium !important;
}

@media screen and (min-width: 412px) {
  .steps .step .text span {
    max-width: 12em;
    margin: 1em;
  }
}

@media screen and (max-width: 412px) {
  .steps .step .text span {
    max-width: 80vw;
    margin: 10vw;
  }
}

@media screen and (min-width: 412px) {
  .steps .step img {
    width: 25em;
    margin: 1em;
  }
}

@media screen and (max-width: 412px) {
  .steps .step img {
    width: 80vw;
    margin: 10vw;
  }
}

.steps .step .gobuynow {
  position: absolute;
  text-align: center;
  left: 0 !important;
  background-color: var(--left-bg-color) !important;
  color: white !important;
  padding: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 412px) {
  .steps .step .gobuynow {
    width: 25em;
    margin: 1em;
    top: calc(18.75em - 41px) !important;
  }
}

@media screen and (max-width: 412px) {
  .steps .step .gobuynow {
    width: 80vw;
    margin: 10vw;
    top: calc(60vw - 41px) !important;
  }
}

.steps .step .gobuynow:hover {
  background-color: var(--left-bg-color-clean) !important;
}

.ascentsteps {
  border-bottom: #333 solid 1px;
}

@media screen and (max-width: 550px) {
  .hideon-sw {
    display: none !important;
  }
}

@media screen and (min-width: 550px) {
  .showon-sw {
    display: none !important;
  }
}

.footer-copyright {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer {
  margin-top: 65px !important;
  padding: 0 0 0 0 !important;
}

.footer .followus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer .followus a {
  margin-right: .5em;
}

.footer .followus a i {
  cursor: pointer;
  font-size: x-large;
}

.fa {
  font-family: "FontAwesome" !important;
}

input[type="radio"]:not(:checked), [type="radio"]:checked {
  opacity: 1 !important;
  position: relative !important;
  pointer-events: all !important;
  margin: .4rem;
}

.footer-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-a {
  margin-top: 40px !important;
  /*style the arrow inside the select element:*/
  /*point the arrow upwards when the select box is open (active):*/
  /*style the items (options), including the selected item:*/
  /*style items (options):*/
  /*hide the items when the select box is closed:*/
}

.cart-a select, .cart-a option {
  background-color: transparent !important;
}

.cart-a select {
  position: relative;
}

.cart-a option {
  background-color: #181818 !important;
  color: white !important;
  font-size: large !important;
}

.cart-a .r3 {
  min-height: 100px;
}

.cart-a .custom-select {
  position: relative;
  font-family: Arial;
}

.cart-a .form-row {
  padding: 7px;
  background-color: #181818;
  margin-bottom: 10px;
  margin-top: 4px;
}

.cart-a .form-row * {
  color: white !important;
  opacity: 0 !important;
}

.cart-a .form-row h4 {
  margin-top: 0 !important;
}

.cart-a .custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

.cart-a .select-selected {
  background-color: transparent !important;
}

.cart-a .select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.cart-a .select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.cart-a .select-items div, .cart-a .select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cart-a .select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.cart-a .select-hide {
  display: none;
}

.cart-a .select-items div:hover, .cart-a .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

body {
  min-width: 100vw !important;
  max-width: 100vw !important;
  overflow: hidden;
  overflow-y: auto;
}

/* scents */
.scentsbody {
  width: 100vw !important;
  overflow: hidden;
  overflow-y: auto;
  min-height: -webkit-max-content !important;
  min-height: -moz-max-content !important;
  min-height: max-content !important;
  overflow-y: hidden !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 65px !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000fc)), url(../images/texturepainting.jpg);
  background: linear-gradient(#000000, #000000fc), url(../images/texturepainting.jpg);
  background-position: center;
  background-size: cover;
}

.scentsbody .wh {
  display: none !important;
}

.scentsbody .readmore-active .wh {
  display: block !important;
}

.scentsbody .readmore-active .desc {
  display: none !important;
}

.scentsbody::-webkit-scrollbar {
  display: none !important;
}

.scentsbody .input {
  text-transform: capitalize;
}

.scentsbody .buddy {
  position: relative;
}

.scentsbody h1 {
  position: relative;
  overflow: visible !important;
  margin-bottom: 30px !important;
  margin-top: 30px !important;
}

.scentsbody .card {
  background-color: transparent !important;
  min-height: 100%;
  padding: 10px;
}

@media screen and (min-width: 700px) {
  .scentsbody .card {
    width: 40% !important;
  }
}

.scentsbody .card .comingsoon {
  position: absolute;
}

.scentsbody .card .addtocart {
  cursor: pointer !important;
  margin-top: 20px;
}

.scentsbody .row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scentsbody .row span, .scentsbody .row h1 {
  text-align: center !important;
  color: white !important;
}

@media screen and (max-width: 700px) {
  .scentsbody .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.scentsbody .row .card {
  margin: 20px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 900px) {
  .scentsbody .row .card:nth-child(odd) {
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
  }
  .scentsbody .row .card:nth-child(even) {
    -webkit-transform: translateX(60px);
            transform: translateX(60px);
  }
}

.scentsbody .row .card .imaromas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.scentsbody .row .card .imaromas .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scentsbody .row .card .imaromas .row .bb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scentsbody .row .card .imaromas img {
  max-width: 70% !important;
}

.scentsbody .row .card form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scentsbody .row .card div.name {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  cursor: pointer !important;
}

.scentsbody .row .card div.name h1 {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.scentsbody .row .card div.name::before {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  content: '';
  height: calc(100% - 60px);
  width: 0%;
  display: block;
  position: absolute;
  background-color: white;
}

.scentsbody .row .card div.name:hover::before {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  content: '';
  height: calc(100% - 60px);
  width: 1000%;
  background-color: white;
}

.scentsbody .row .card div.name:hover h1 {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: black !important;
}

.scentsbody .row .card .b {
  width: 3em;
  height: 3em;
  border-radius: 1em;
  margin: 0.5em;
  margin-top: 1em !important;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--left-bg-color)), to(#000)) !important;
  background: linear-gradient(var(--left-bg-color), #000) !important;
}

.scentsbody .row .card .readmore {
  padding: 3px;
  cursor: pointer;
  background: transparent;
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.scentsbody .row .card .readmore:hover {
  background: #fff;
  color: #000 !important;
}

.scentsbody .row.last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center !important;
}

.scentsbody .row.last .card:nth-child(odd) {
  -webkit-transform: translateX(0px) !important;
          transform: translateX(0px) !important;
}

.scentsbody .row.last .card:nth-child(even) {
  -webkit-transform: translateX(0px) !important;
          transform: translateX(0px) !important;
}

.datepicker-date-display span {
  overflow: visible !important;
}

.select-wrapper * {
  background: transparent !important;
}

.select-wrapper input {
  color: black !important;
  color: black !important;
}

.ndcolor {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--left-bg-color)), to(#000)) !important;
  background: linear-gradient(var(--left-bg-color), #000) !important;
}

.cartcont {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.cartcont .r, .cartcont .r2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cartcont .r.r, .cartcont .r2.r {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

@media screen and (max-width: 600px) {
  .cartcont .r, .cartcont .r2 {
    border-top: 1px grey solid;
    margin-top: 10px;
    padding-top: 10px;
  }
  .cartcont .r label, .cartcont .r2 label {
    -webkit-transform: translateY(0.5em);
            transform: translateY(0.5em);
  }
}

@media screen and (min-width: 600px) {
  .cartcont .r label, .cartcont .r2 label {
    display: none;
  }
  .cartcont .r .name, .cartcont .r2 .name {
    margin-left: 5px;
  }
}

.cartcont .r input, .cartcont .r2 input {
  display: block;
  max-width: 50px;
  border: white 1px solid;
  text-align: center;
  border-radius: 5px;
}

@media screen and (min-width: 600px) {
  .cartcont .r input, .cartcont .r2 input {
    margin-left: auto;
  }
}

@media screen and (max-width: 600px) {
  .cartcont .r input, .cartcont .r2 input {
    margin-top: 5px;
  }
}

.cartcont .r img, .cartcont .r2 img {
  min-width: 100%;
  min-height: 100%;
}

.cartcont .r .image-cropper, .cartcont .r2 .image-cropper {
  width: 10vmin;
  height: 10vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 5px;
}

@media screen and (max-width: 600px) {
  .cartcont .r, .cartcont .r2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

.image-cropper {
  width: 10vmin;
  height: 10vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 5px;
}

.image-cropper img {
  min-width: 100%;
  min-height: 100%;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000fc)), url(../images/texturepainting.jpg);
  background: linear-gradient(#000000, #000000fc), url(../images/texturepainting.jpg);
  background-position: center;
  background-size: cover;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.mainmyacc {
  display: unset;
  min-height: 100vh;
  height: -webkit-max-content !important;
  height: -moz-max-content !important;
  height: max-content !important;
}

.datepicker-container {
  color: initial !important;
}

tbody * {
  color: black !important;
}

.myacc {
  margin-top: 65px !important;
  padding-bottom: 65px !important;
  position: relative;
  padding: 5px;
  top: 65px;
}

.myacc span {
  color: white !important;
}

.myacc .header, .myacc .section {
  border-top: 1px solid grey;
  padding: 5px;
  margin-bottom: 5px;
}

.myacc .section {
  padding: 15px;
}

.myacc .section .title2 {
  cursor: pointer !important;
  color: gray !important;
}

.myacc .section .title2.active {
  color: white !important;
}

@media screen and (min-width: 600px) {
  .myacc .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
  .myacc .section .content {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .myacc .section .title {
    width: 117px !important;
    text-align: center !important;
  }
}

.myacc .header-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myacc .header-head img {
  height: 40px;
}

.myacc .header-head .uinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
  margin-left: 5px;
}

.myacc .header-head .uinfo .name {
  font-size: 1.4em;
}

.myacc .header-head .uinfo .datecreated {
  font-size: .8em;
  -webkit-transform: translateY(-0.4em);
          transform: translateY(-0.4em);
}

.myacc .body * {
  color: white;
}

.myacc .body input {
  color: white !important;
}

.myacc .body input[type="submit"] {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--left-bg-color)), to(#000)) !important;
  background: linear-gradient(var(--left-bg-color), #000) !important;
  border: none !important;
}

.myacc .body .section {
  font-size: large;
}

.myacc .body .section .title {
  margin-right: 15px;
}

.myacc .body .section .content {
  border-left: 1px solid grey;
  padding-left: 15px;
  padding-right: 15px;
}

.addressform input, .addressform label {
  margin: 5px 5px;
  background-color: transparent !important;
}

@media screen and (min-width: 600px) {
  .addressform .form-control {
    float: left;
  }
  .addressform #inputStreet {
    width: 100%;
  }
  .addressform #inputCity {
    width: 50%;
  }
  .addressform #inputState {
    width: 15%;
  }
  .addressform #inputZip {
    width: 28%;
  }
  .addressform #inputCounty {
    width: 45%;
  }
  .addressform #inputCountry {
    width: 50%;
  }
}

.addressform .form-group {
  width: 450px;
}

.addressform input:not([type='submit']) {
  margin: 7.5px !important;
  padding-left: 5px;
}

.addressform input.btn {
  display: block;
}

.addresscontainer {
  margin-bottom: 20px;
}

.remove-cart-item {
  background-color: transparent !important;
  overflow: visible !important;
}

.sc .removefromcart i {
  color: var(--left-bg-color-clean) !important;
}

.cardinfo {
  margin-top: 40px;
}

.cardinfo * {
  color: white !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ordersid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: column-reverse !important;
          flex-direction: column-reverse !important;
}

.ab-group {
  border-bottom: 1px solid gray;
  padding-bottom: 7px;
}

.ab-group .title2 {
  font-size: large;
  margin: 0 !important;
  text-align: left !important;
}

@media screen and (min-width: 700px) {
  .ab-group .title2 {
    font-weight: bolder;
  }
}

.ab-group .date {
  font-size: small;
  font-weight: bolder;
  -webkit-transform: translateY(-5px) !important;
          transform: translateY(-5px) !important;
}

.ab-group .quan, .ab-group .other1 {
  font-size: small;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.ab-group .subid {
  font-size: small;
}

.ab-group .titleimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row-reverse !important;
      flex-direction: row-reverse !important;
}

.ab-group .titleimg img {
  padding: 7px;
}

.ab-group .titleimg-n {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ab-group .titleimg-n img {
  padding: 7px;
}

.togglesubs {
  margin-bottom: 10px;
  background-color: gray !important;
}

.cancelorder {
  background-color: gray !important;
}

.gotoorders {
  background-color: gray !important;
}

.nicescroll::-webkit-scrollbar {
  background-color: black !important;
  width: 5px !important;
}

.rowreverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row-reverse !important;
      flex-direction: row-reverse !important;
}

.logintobuy * {
  color: white;
}

.logintobuy a {
  color: gray;
  text-decoration: underline !important;
}

.footer {
  position: relative;
}

i {
  -ms-user-select: none;
      user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

body {
  min-height: 100vh !important;
  position: relative;
}

#subs .perfumes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 3em;
  padding-top: 2em;
}

#subs .perfumes .r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboncon {
  margin-bottom: 100px !important;
  position: relative;
  top: 130px !important;
}

.aboncon span, .aboncon h1, .aboncon h2, .aboncon h3, .aboncon h4, .aboncon h5 {
  color: white !important;
}

@media screen and (min-width: 800px) {
  .aboncon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
}

@media screen and (max-width: 800px) {
  .aboncon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.aboncon .form {
  padding: 1em;
  position: relative;
  justify-self: start !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

@media screen and (min-width: 800px) {
  .aboncon .form {
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    max-width: 60% !important;
  }
}

@media screen and (max-width: 800px) {
  .aboncon .form {
    margin-top: 2em;
  }
}

.aboncon .form h4 {
  margin-top: 0 !important;
}

.aboncon .form span {
  text-align: end;
}

.aboncon .form .perfumes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 3em;
  padding-top: 2em;
}

.aboncon .form .perfumes .r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboncon .form form {
  position: relative;
  width: 100%;
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

.aboncon .form form .form-row {
  width: 100%;
}

.aboncon .form form .radio {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboncon .form form .radio label {
  color: white;
  font-size: medium;
}

.aboncon .form .footer-a {
  margin-top: 1em;
}

.aboncon .aboncard {
  background-color: #3f3f3f;
  padding-bottom: 1em;
  max-width: 20em !important;
}

.aboncon .aboncard img {
  max-width: 20em;
}

.aboncon .aboncard .wrt {
  padding-left: 1em;
  padding-right: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.aboncon .aboncard .wrt .prnm {
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboncon .aboncard .wrt > * {
  margin-top: 1em;
}

.all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=index.css.map */