:root {
    --container-bg-color: #333;
    --left-bg-color: rgba(223, 39, 39, 0.7);
    --left-button-hover-color: rgba(161, 11, 11, 0.3);
    --right-bg-color: rgba(43, 43, 43, 0.8);
    --right-button-hover-color: rgba(92, 92, 92, 0.3);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 700ms;
}
body::-webkit-scrollbar {
    display: none !important;
}
h1,h2,h3,h4,h5,h6,h7,h8,h9{
    overflow: visible !important;
}
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900);
*{
    font-family: "Raleway", Helvetica, Arial, sans-serif !important;
    overflow-x: hidden !important;
}
@mixin min-width($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
@mixin max-width($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}
@mixin min-height($width) {
  @media screen and (max-height: $width) {
    @content;
  }
}
@mixin max-height($width) {
  @media screen and (min-height: $width) {
    @content;
  }
}
@mixin flex-row {
    
  display: flex;
  flex-direction: row;
  align-items: center;
}
@mixin flex-column {
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-row{
  @include flex-row();
  &.jcenter{
    justify-content: center;
  }
  &.jstart{
    justify-content: flex-start;
  }
  &.jend{
    justify-content: flex-end;
  }
  &.jspace-between{
    justify-content: space-between;
  }
  &.jspace-around{
    justify-content: space-around;
  }
  &.jspace-evenly{
    justify-self: space-evenly;
  }

}
.flex-column{
  @include flex-column();
  &.jcenter{
    justify-content: center;
  }
  &.jstart{
    justify-content: flex-start;
  }
  &.jend{
    justify-content: flex-end;
  }
  &.jspace-between{
    justify-content: space-between;
  }
  &.jspace-around{
    justify-content: space-around;
  }
  &.jspace-evenly{
    justify-self: space-evenly;
  }
}
html, body {
  padding:0;
  margin:0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  overflow: visible !important;
  padding: 0 !important;
  font-size: 2em !important;
  font-weight: 600;
  margin: 0 0 0 0 !important;
}


.mainbody{
    position: relative;
    top: 260px !important;
  //  min-height: 150vh;
    background: linear-gradient(#000000f3, #000000fd), url(../images/texturepainting.jpg);
    background-position: center;
    background-size: cover;
}
.container-fluid {
  position: fixed;
  width: 100% !important;
  height: 195px !important;
  top: 65px !important;

  background: var(--container-bg-color);
  &::before{
      content:'';
      z-index: 3;
      position: absolute;
      height: 50%;
      width: 100%;
      top:0;
      right: 0;
      background: linear-gradient(#000000, #00000000);
  }
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
  h1,a{
    color: white !important;
    font-size: 4em !important;
    font-weight: 900;
    z-index: 2;
  }
}

.split.left {
  left:0;
  background: url('https://image.ibb.co/m56Czw/designer.jpg') center center no-repeat;
  background-size: cover;
  @include flex-row();
  justify-content: center !important;
}

.split.left:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--left-bg-color);
}

.split.right {
  right:0;
  background: url(../images/1.jpg) center center no-repeat;
  background-size: cover;
  @include flex-row();
  justify-content: center !important;
}

.split.right:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--right-bg-color);
}

.split.left, .split.right, .split.right:before, .split.left:before {
  transition: var(--speed) all ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-left .right:before {
  z-index: 2;
}


.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--other-width);
}

.hover-right .left:before {
  z-index: 2;
}

@media(max-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  .button {
    width: 12rem;
  }
}

@media(max-height: 700px) {
  .button {
    top: 70%;
  }
}
.material-icons{
    font-family: "Material Icons" !important;
}
.navbar{
    width: 100%;
    position: fixed;
    height: 65px !important;
    z-index: 1000;
    background-color: #000000;
    @include flex-row();
    *{
        font-size: large;
        color: #fff !important;
    }
    justify-content: space-between;
    .navbar-header{
        .navbar-brand{
            padding-left: 1em;
            padding-right: 1em;
        }
        z-index: 2;
    }
    .navbar-center{
      position: absolute;
      width: 100%;
      @include flex-row();
      justify-content: center;
      span{
        font-size: 2em !important;
        font-style: italic;
      }
    }
    .navbar-body{
      z-index: 2;

    }
    .nav{
        @include flex-row();
        li{
            padding-left: 1em;
            padding-right: 1em;
        }
    }
    .menu{
        @include flex-column();
        justify-content: center;
        cursor: pointer;
        
    }
}

.ascent{
    width: 100%;
    @include flex-row();
    justify-content: center;
    span{
        font-size: 4em;
        color: whitesmoke !important;
        letter-spacing: 0.5rem;
        font-weight: 600;
    }
}
.firstimage{
  height: 20em;
  min-width: 100vw;
  min-height: 20em;
  background-color: var(--container-bg-color);
}
.rows{
  width: 100vw !important;
        margin: 0 0 0 0 !important;
        @include min-width(600px){
          width: unset !important;
          margin: unset !important
        }
}
.featured{
    width: 100%;
    margin-top: 20px;
    .row{
        min-height: fit-content;
        height: 100vh;
        width: 100vw !important;
        margin: 0 0 0 0 !important;
        @include min-width(600px){
          height: unset;
          width: unset !important;
          margin: unset !important
        }
        flex-wrap: wrap;

        @include max-width(800px){
          flex-wrap: nowrap !important;

        }
        @include flex-row();
        justify-content: stretch;
        &:nth-child(even){
            @include flex-row();
            flex-direction: row-reverse !important;
        }

        justify-content: center;

        .image{
            height: 100%;
            width: auto;
            flex-grow: 6;
            @include min-width(600px){
              height: 20em;
              width: 20em !important;
              margin: unset !important
            }
            min-height: 20em;
            background-color: var(--container-bg-color);
        }
        .info{
            min-width: 20em;
            min-height: 20em;
            height: auto;
            flex-grow: 5;
            *{
                color: white !important;
            }
            span{
                color: white !important;
                
            }
            padding-left: .5em;
                padding-right: .5em;
            margin: 3em !important;
            height: 20em;
            width: 20em;
            max-height: 20em;
            min-height: 20em;
            overflow-y: hidden;
            
        }
        .more{
          color: white !important;
          cursor: pointer;
          transition: all 0.3s ease;
          margin: 2em;
          &:hover{
            font-size: large;
          }
        }
    }
    @include min-width(60em){
        @include flex-column();
    }
}


.sidenav{
    position: absolute;
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    transform: translateX(-100vw);
    right:0;
    transition: transform 0.3s ease;
    .content{
        position: relative;
        top: 65px !important;
    }
    li{
        list-style: none;
        a{
            color: white !important;

        }
    }
    &.active{
        transform: translateX(0vw);
    }
    background-color: #000;
}

.msgs{ 
      

    #messages{
        .error{
            background-color: rgba(255, 24, 24, 0.438);
            
            
            color: white;
        }
        .succes{
            background-color: rgba(70, 255, 24, 0.452);
            
            
            color: white;

        }
    }
}

/*login register*/

.form-container{
    position: relative;
    height: 100%;
    width: 100%;
    @include min-height(500px){
        height: 150%;
    }
    &.register{
        @include min-height(500px){
            height: 200%;
        }
    }
    @include flex-column();
    justify-content: center;
    background: linear-gradient(#000000f3, #000000fd), url(../images/texturepainting.jpg);

    .content{
        form{
            input{
                background-color: rgb(12, 12, 12);
                color: white !important;
            }
            input[type='submit']{
              background: linear-gradient(var(--left-bg-color), #000)  !important;

            }
        }
    }
}
.error-content{
    margin-top: 5px;
    background-color: rgba(255, 24, 24, 0.438);
 
    color: white !important;
}

.footer{
    padding-bottom: 100px;
    padding-top: 100px;
    @include flex-column();
    justify-content: center;
    background-color: transparent;
    span{
        color: white !important;
        font-size: large;
    }
    form{
      max-width: 20em;
        input{
            background-color: rgb(12, 12, 12);
            color: white !important;
        }
        input[type="submit"]{
            background: linear-gradient(var(--left-bg-color), #000)  !important;
            border: none !important;
        }
    }
}
.steps{
  @include flex-row();
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1em;
  margin-top: 7em;
  @include min-width(412px){
    @include flex-column();
    flex-wrap: nowrap;
    justify-content: center;
  }
  .step{
    @include flex-column();
    justify-content: space-between;
    .text{
      margin-top: 1em;
      @include flex-row();
      justify-content: center;
      span{
        color: #fff;
        font-size: 2em;
        text-align: center;
      }
    }
    .image{
      @include max-width(412px){
        width: 25em;
        height: 25em;
        margin: 1em;
      }
      @include min-width(412px){
        width: 80vw;
        height: 80vw;
        margin: 10vw;
      }
      

      background-color: var(--container-bg-color);
    }
  }
  margin-bottom: 50px;
}

.ascentsteps{
  border-bottom: #333 solid 1px;
}

@include min-width(550px){
  .hideon-sw{
    display: none !important;
  }
}

.footer-copyright{
  width: 100%;
  @include flex-row();
  justify-content: space-between;
 
  flex-wrap: wrap;
}
footer{
  padding: 0 0 0 0 !important;
  .followus{
    @include flex-row();
    justify-content: flex-start;
    a{
      margin-right: .5em;
      i{
        cursor: pointer;
      }
    }
  }
}
.fa{
  font-family: "FontAwesome" !important;
}



/* scents */
.scentsbody{
  min-height: max-content !important;
  overflow-y: hidden !important;
  @include flex-column();
  .wh{
    display: none !important;
  }
  .readmore-active{
    .wh{
      display: block !important;
    }
    .desc{
      display: none !important;
    }
  }
  justify-content: center;
  &::-webkit-scrollbar{
    display: none !important;
  }
  .input{
    text-transform: capitalize;
  }
  position: relative;
  top: 65px !important;
  .buddy{
    position: relative;
  }
  h1{
    position: relative;
    overflow: visible !important;
    margin-bottom: 30px !important;
    margin-top: 30px !important;
  }
  .card{
    background-color: transparent !important;
    min-height: 100%;
    padding: 10px;
    @include max-width(700px){
      width: 40% !important;

    }
    .comingsoon{
      position: absolute;
    }
  }
  background: linear-gradient(#000000f3, #000000fd), url(../images/texturepainting.jpg);
  .row{
    align-items: flex-start;
    span, h1{
      text-align: center !important;
      color: white !important;
    }
    @include flex-row();
    justify-content: center;
    @include min-width(700px){
      flex-direction: column;
      justify-content: space-between;

    }
    
    .card{
      margin: 20px !important;
      @include flex-column();
      justify-content: center;
      .imaromas{
        @include flex-row();
        justify-content: space-around;
        .col{
          @include flex-column();
      justify-content: center;
        }
        img{
          max-width: 70% !important;
        }
      }
      form{
        @include flex-column();
      justify-content: center;
      }
      div.name{
        position: relative;
        @include flex-column();
      justify-content: center;
        transition: all 0.7s ease;
        h1{
          transition: all 0.5s ease;

        }
        &::before{
          transition: all 0.7s ease;
          content: '';
          height: calc(100% - 60px);
          width: 0%;
          display: block;
          position: absolute;
          background-color: white;
        }
        cursor: pointer !important;
        &:hover{
          &::before{
            transition: all 0.7s ease;
            content: '';
            height: calc(100% - 60px);

            width: 1000%;
            background-color: white;
          }
          h1{
            transition: all 0.5s ease;

          color: black !important;

          }
        }
      }
      .b{
        width: 2em;
        height: 2em;
        border-radius: 1em;
        padding-top: 3px;
        background: linear-gradient(var(--left-bg-color), #000)  !important;

      }
      .readmore{
        padding: 3px;
        cursor: pointer;
        background: transparent;
        color: white;
        transition: all 0.3s ease;
        &:hover{
          background: #fff;
          color: #000 !important;
        }
      }
    }
  }
}