:root {
    --container-bg-color: #333;
    --left-bg-color: rgba(223, 39, 39, 0.7);
    --left-button-hover-color: rgba(161, 11, 11, 0.3);
    --right-bg-color: rgba(43, 43, 43, 0.8);
    --right-button-hover-color: rgba(92, 92, 92, 0.3);
    --hover-width: 10em;
    --other-width: 0em;
    --speed: 300ms;
}
//new pwd 4 Radianeleven: Adiadi
body::-webkit-scrollbar {
    display: none !important;
    background-color: black !important;
}
h1,h2,h3,h4,h5,h6,h7,h8,h9{
    overflow: visible !important;
}
.logoimg{
  max-height: 55px;
  max-width: 55px;
}
.swal2-icon{
  overflow: visible !important;
}
.verify{
  text-decoration: underline !important;
  color: white !important;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900);
*{
    font-family: "Raleway", Helvetica, Arial, sans-serif !important;
    overflow-x: hidden !important;
}
@mixin min-width($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
@mixin max-width($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}
@mixin min-height($width) {
  @media screen and (max-height: $width) {
    @content;
  }
}
@mixin max-height($width) {
  @media screen and (min-height: $width) {
    @content;
  }
}
@mixin bcg {
  background: linear-gradient(#000000, #000000fc), url(../images/texturepainting.jpg);
    background-position: center;
    background-size: cover;
}
@mixin flex-row {
    
  display: flex;
  flex-direction: row;
  align-items: center;
}
@mixin flex-column {
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-row{
  @include flex-row();
  &.jcenter{
    justify-content: center;
  }
  &.jstart{
    justify-content: flex-start;
  }
  &.jend{
    justify-content: flex-end;
  }
  &.jspace-between{
    justify-content: space-between;
  }
  &.jspace-around{
    justify-content: space-around;
  }
  &.jspace-evenly{
    justify-self: space-evenly;
  }

}
.flex-column{
  @include flex-column();
  &.jcenter{
    justify-content: center;
  }
  &.jstart{
    justify-content: flex-start;
  }
  &.jend{
    justify-content: flex-end;
  }
  &.jspace-between{
    justify-content: space-between;
  }
  &.jspace-around{
    justify-content: space-around;
  }
  &.jspace-evenly{
    justify-self: space-evenly;
  }
}
@import url(../fonts/Felixti.TTF);
@font-face {
  font-family: "Felix Titling"; 
  src: url("../fonts/Felixti.TTF"); 
  src: url("../fonts/Felixti.TTF") format("truetype"); 
}
html, body {
  padding:0;
  margin:0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.flex{
  @include flex-column();
  justify-content: center !important;
}
h1 {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  overflow: visible !important;
  padding: 0 !important;
  font-size: 2em !important;
  font-weight: 600;
  margin: 0 0 0 0 !important;
}


.mainbody{
    position: relative;
//top: 260px !important; IFF
  top: 65px !important;
  //  min-height: 150vh;
    width: 100vw !important;
    overflow: hidden;
  overflow-y: auto;
    @include bcg;
}
html, body { 
  overflow-x: hidden;
  position: relative
} 
.container-fluid.menwomen {
  display: none !important; //IFF
  position: fixed;
  width: 100% !important;
  height: 195px !important;
  top: 65px !important;

  background: var(--container-bg-color);
  &::before{
      content:'';
      z-index: 3;
      position: absolute;
      height: 50%;
      width: 100%;
      top:0;
      right: 0;
      background: linear-gradient(#000000, #00000000);
  }
}

.bl{
  display: block !important;
}
.split {
  min-width: 0em; 
  cursor: pointer !important;
}




@media(max-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  .button {
    width: 12rem;
  }
}

@media(max-height: 700px) {
  .button {
    top: 70%;
  }
}
.material-icons{
    font-family: "Material Icons" !important;
}
.navbar{
    width: 100%;
    position: fixed;
    height: 65px !important;
    z-index: 1000;
    background-color: #000000;
    @include flex-row();
    *{
        font-size: large;
        color: #fff !important;
    }
    justify-content: space-between;
    .navbar-header{
        .navbar-brand{
            padding-left: 5px;
            padding-right: 1em;
        }
        z-index: 2;
    }
    
    .navbar-center{
      position: absolute;
      width: 100%;
      @include flex-row();
      justify-content: center;
      a{
        font-size: 2em !important;
        //  font-style: italic;
        font-family: "Felix Titling" !important;
      }
    }
    .navbar-body{
      z-index: 2;

    }
    .nav{
        @include flex-row();
        li{
            padding-left: 1em;
            padding-right: 1em;
            &:hover{
              a{
                color: rgb(187, 187, 187) !important;
              }
            }
            @include min-width(600px){
              padding-left: 0.3em !important;
              padding-right: 1em !important;
            }
        }
        
    }
    .menu{
        @include flex-column();
        justify-content: center;
        cursor: pointer;
        
    }
}

.ascent{
    width: 100%;
    @include flex-row();
    justify-content: center;
    span{
        font-size: 4em;
        color: whitesmoke !important;
        letter-spacing: 0.5rem;
        font-weight: 600;
    }
}
.firstimage{
  position: relative;
  height: 40em !important;
  min-width: 100vw;
  background: url(../images/site/submf.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.gradbottom{
  background: linear-gradient(transparent, #000000);
  height: 10em !important;
  position: absolute;
  min-width: 100%;
  bottom: 0 !important;
}
  .con{
    display: flex;
    color: white !important;
    width: 100%;
    height: 100% !important;
    @include flex-column();
    justify-content: center;
    align-items: center;
    margin-top: 65px !important;
    span{
      text-align: center;
      padding: 1em;
    }
  }

.mw{
  position: absolute;
  z-index: 2 !important;
  width: 100%;
  height: fit-content !important;
  @include flex-row();
  justify-content: center;
  bottom: 10em !important;
  a{
    font-size: 3em !important;
    color: white !important;
    font-weight: bold;
    padding: 1em;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    
  }
  .right{
    @include flex-row();
    justify-content: flex-end;
  }
  
  @media(min-height: 700px) {
    .left, .right{
      min-width: 0em;
      transition: var(--speed) all ease-in-out;
  
    }
    
    &.hover-left .left {
      min-width: var(--hover-width);
      a{
        color: rgb(187, 187, 187) !important;

      }
    } 
    &.hover-left .right {
      min-width: var(--other-width);
    }
    
    &.hover-right .right {
      min-width: var(--hover-width);
      a{
        color: rgb(187, 187, 187) !important;

      }
    }
    &.hover-right .left {
      min-width: var(--other-width);
    }
  }
  .separe{
    width: 1px;
    height: 3em;
    background-color: white;
  }
}
.gradtop{
  background: linear-gradient(#000000, transparent);
  height: 10em !important;
  position: absolute;
  min-width: 100%;
  top: 0 !important;
}

.rows{
  width: 100vw !important;
        margin: 0 0 0 0 !important;
        @include min-width(600px){
          width: unset !important;
          margin: unset !important
        }
}
.featured{
    width: 100%;
    margin-top: 20px;
    .row{
        min-height: fit-content;
        height: 100vh;
        width: 100vw !important;
        margin: 0 0 0 0 !important;
        @include min-width(600px){
          height: unset;
          width: unset !important;
          margin: unset !important
        }
        flex-wrap: wrap;
        
        @include max-width(800px){
          flex-wrap: nowrap !important;

        }
        @include flex-row();
        justify-content: stretch;
        &:nth-child(even){
            @include flex-row();
            flex-direction: row-reverse !important;
        }

        justify-content: center;

        
        img{
          height: 100%;
          width: auto;
          @include min-width(600px){
            //height: 20em;
            width: 20em !important;
            margin: unset !important
          }
          min-height: 20em;
          background-color: var(--container-bg-color);
        }
        .info{
            min-width: 20em;
            min-height: 20em;
            height: auto;
            flex-grow: 5;
            *{
                color: white !important;
            }
            span{
                color: white !important;
                
            }
            padding-left: .5em;
            padding-right: .5em;
            margin: 3em !important;
            height: 20em;
            width: 20em;
            max-height: 20em;
            min-height: 20em;
            overflow-y: hidden;
            
        }
        .more{
          color: white !important;
          cursor: pointer;
          transition: all 0.3s ease;
          margin: 2em;
          &:hover{
            font-size: large;
          }
        }
    }
    @include min-width(60em){
        @include flex-column();
    }
}


.customsidenav{
    position: fixed;
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    width: 300px;
    top: 0;
    margin: 0;
    transform: translateX(100vw);
    right:0 !important;
    transition: transform 0.3s ease;
    z-index: 9;
    .content{
        position: relative;
        top: 65px !important;
        @include flex-column();
        align-items: flex-end;
        justify-content: center;
        padding-top: 2em;
        li{
          padding-top: .2em;
          padding-bottom: .2em;
          &:hover{
            a{
              color: rgb(187, 187, 187) !important;
            }
          }
          a{
            font-size: larger;
            &:hover{
              color: rgb(187, 187, 187) !important;
            }
          }
        }
    }
    li{
        list-style: none;
        a{
            color: white !important;

        }
    }
    &.active{
        transform: translateX(0vw);
    }
    background-color: #000;
}

.msgs{ 
      

    #messages{
        .error{
            background-color: rgba(255, 24, 24, 0.438);
            
            
            color: white;
        }
        .success{
            background-color: rgba(70, 255, 24, 0.452);
            
            
            color: white;

        }
    }
}
.success, .succes{
  background-color: rgba(70, 255, 24, 0.452) !important;
  
  
  color: white !important;

}
.messages{ 
      
  z-index: 1000;
  top: 70px;
  width: 100% !important;
  @include flex-column();
  justify-content: center;
  margin: auto;
  position: absolute;
  #messages{
      .error{
          background-color: rgba(255, 24, 24, 0.438);
          
          
          color: white;
      }
      .success{
          background-color: rgba(70, 255, 24, 0.452);
          
          
          color: white;

      }
  }
}
/*login register*/
.loginre{
  padding: .4em;
  @include flex-column();
  justify-content: center;
  span{
    color: white;
  }
}
.form-container{
    position: relative;
    height: 100%;
    width: 100%;
    @include min-height(500px){
        height: 150%;
    }
    &.register{
        @include min-height(500px){
            height: 200%;
        }
    }
    @include flex-column();
    justify-content: center;
    @include bcg;
    .content{
        form{
            input{
                background-color: rgb(12, 12, 12);
                color: white;
                width: 100% !important;
            }
            input[type='submit']{
              background: linear-gradient(var(--left-bg-color), #000)  !important;

            }
        }
    }
}
.error-content{
    margin-top: 5px;
    background-color: rgba(255, 24, 24, 0.438);
 
    color: white !important;
}

.footer{
  bottom: 0 !important;
  width: 100% !important;
  position: relative !important;
    @include flex-column();
    justify-content: center;
    background-color: transparent;
    span{
        color: white !important;
        font-size: large;
    }
    form{
      max-width: 20em;
        input{
            background-color: rgb(12, 12, 12);
            color: white !important;
        }
        input[type="submit"]{
            background: linear-gradient(var(--left-bg-color), #000)  !important;
            border: none !important;
        }
    }
}
.steps{
  @include flex-row();
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1em;
  margin-top: 7em;
  @include min-width(412px){
    @include flex-column();
    flex-wrap: nowrap;
    justify-content: center;
  }
  .step{
    position: relative;
    @include flex-column();
    justify-content: space-between;
    .text{
      margin-top: 1em;
      @include flex-row();
      justify-content: center;
      span{
        color: #fff;
        font-size: 2em;
        text-align: center;
        @include max-width(412px){
          max-width: 12em;
          margin: 1em;
        }
        @include min-width(412px){
          max-width: 80vw;
          margin: 10vw;
        }
      }
    }
    img{
      @include max-width(412px){
        width: 25em;
        margin: 1em;
      }
      @include min-width(412px){
        width: 80vw;
        margin: 10vw;
      }
      

    }
    .gobuynow{
      @include max-width(412px){
        width: 25em;
        margin: 1em;
        transform: translateY(-2em);

      }
      @include min-width(412px){
        width: 80vw;
        margin: 10vw;
        transform: translateY(-20vw);

      }
      background-color: var(--left-bg-color)  !important;
      color: white !important;
      padding: 10px;
      transition: all 0.2s ease-in-out;
      &:hover{
        padding-left: 15px;
      }
    }
  }
  margin-bottom: 50px;
}

.ascentsteps{
  border-bottom: #333 solid 1px;
}

@include min-width(550px){
  .hideon-sw{
    display: none !important;
  }
}
@include max-width(550px){
  .showon-sw{
    display: none !important;
  }
}
.footer-copyright{
  width: 100%;
  @include flex-row();
  justify-content: space-between;
 
  flex-wrap: wrap;
}
.footer{
  margin-top: 65px !important;
  padding: 0 0 0 0 !important;
  .followus{
    @include flex-row();
    justify-content: flex-start;
    a{
      margin-right: .5em;
      i{
        cursor: pointer;
        font-size: x-large;
      }
    }
  }
}
.fa{
  font-family: "FontAwesome" !important;
}
input[type="radio"]:not(:checked), [type="radio"]:checked{
  opacity: 1 !important;
  position: relative !important;
  pointer-events: all !important;
  margin: .4rem;
}
.footer-a{
  @include flex-column();
}
.cart-a{
  margin-top: 40px !important;
  select, option{
    background-color: transparent !important;
    
  }
  select{
    position: relative;
  }
  option{
    background-color: rgb(24, 24, 24) !important;
    color: white !important;
    font-size: large !important;
  }
  .r3{
    min-height: 100px;
  }
  .custom-select {
    position: relative;
    font-family: Arial;
  }
  .form-row{
    padding: 7px;
    *{
      color: white !important;
      opacity: 0 !important;
    }
    background-color: rgb(24, 24, 24);
    margin-bottom: 10px;
    margin-top: 4px;
    h4{
      margin-top: 0 !important;
    }
  }
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: transparent !important;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
body{
  min-width: 100vw !important;
  max-width: 100vw !important;
//overflow-x: hidden !important;
  overflow: hidden;
  overflow-y: auto;
}
/* scents */
.scentsbody{
  width: 100vw !important;
 // overflow-x: hidden !important;
  overflow: hidden;
  overflow-y: auto;
  min-height: max-content !important;
  overflow-y: hidden !important;
  @include flex-column();
  .wh{
    display: none !important;
  }
  .readmore-active{
    .wh{
      display: block !important;
    }
    .desc{
      display: none !important;
    }
  }
  justify-content: center;
  &::-webkit-scrollbar{
    display: none !important;
  }
  .input{
    text-transform: capitalize;
  }
  position: relative;
  top: 65px !important;
  .buddy{
    position: relative;
    .row{
      img{
       // mix-blend-mode: overlay !important;
       //box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.3), 0 6px 20px 0 rgba(255, 255, 255, 0.19) !important;

      }
    }
  }
  h1{
    position: relative;
    overflow: visible !important;
    margin-bottom: 30px !important;
    margin-top: 30px !important;
  }
  .card{
    background-color: transparent !important;
    min-height: 100%;
    padding: 10px;
    @include max-width(700px){
      width: 40% !important;

    }
    .comingsoon{
      position: absolute;
    }
    .addtocart{
      cursor: pointer !important;
      margin-top: 20px;
    }
  }
  @include bcg;
  .row{
    align-items: flex-start;
    span, h1{
      text-align: center !important;
      color: white !important;
    }
    @include flex-row();
    justify-content: center;
    @include min-width(700px){
      flex-direction: column;
      justify-content: space-between;

    }
    
    .card{
      margin: 20px !important;
      @include flex-column();
      justify-content: center;
      @include max-width(900px){
        &:nth-child(odd){
          transform: translateX(-60px);
        }
        &:nth-child(even){
          transform: translateX(60px);
        }
      }
      .imaromas{
        @include flex-column();
        justify-content: space-around;
        .row{
          .bb{
            @include flex-column();

          }
          @include flex-row();
          justify-content: center;
        }
        img{
          max-width: 70% !important;
        }
      }
      form{
        @include flex-column();
      justify-content: center;
      }
      div.name{
        position: relative;
        @include flex-column();
      justify-content: center;
        transition: all 0.7s ease;
        h1{
          transition: all 0.5s ease;

        }
        &::before{
          transition: all 0.7s ease;
          content: '';
          height: calc(100% - 60px);
          width: 0%;
          display: block;
          position: absolute;
          background-color: white;
        }
        cursor: pointer !important;
        &:hover{
          &::before{
            transition: all 0.7s ease;
            content: '';
            height: calc(100% - 60px);

            width: 1000%;
            background-color: white;
          }
          h1{
            transition: all 0.5s ease;

          color: black !important;

          }
        }
      }
      .b{
        width: 3em;
        height: 3em;
        border-radius: 1em;
        margin: 0.5em;
        margin-top: 1em !important;
        background: linear-gradient(var(--left-bg-color), #000)  !important;

      }
      .readmore{
        padding: 3px;
        cursor: pointer;
        background: transparent;
        color: white;
        transition: all 0.3s ease;
        &:hover{
          background: #fff;
          color: #000 !important;
        }
      }
    }
    &.last{
      @include flex-column();
      justify-self: center !important;
      .card{
       
          &:nth-child(odd){
            transform: translateX(0px) !important;
          }
          &:nth-child(even){
            transform: translateX(0px) !important;
          }
        
      }
    }
  }
}

.datepicker-date-display{
  span{
    overflow: visible !important;
  }
}
.select-wrapper{
  *{
    background: transparent !important;
    
  }
  input{
    color: black !important;
    color: black !important;

  }
}
.ndcolor{
  background: linear-gradient(var(--left-bg-color), #000)  !important;
}

.cartcont{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  .r, .r2{
    @include flex-row();
    flex-wrap: wrap;
    &.r{
          justify-content: center !important;

    }
    @include min-width(600px){
      border-top: 1px grey solid;
      margin-top: 10px;
      padding-top: 10px;
      label{
        transform: translateY(.5em);
      }
      
    }
    @include max-width(600px){
      label{
        display: none;
      }
      .name{
        margin-left: 5px;
      }
    }
    input{
      display: block;
      max-width: 50px;
      border: white 1px solid;
      text-align: center;
      @include max-width(600px){
        margin-left: auto;
        
      }
      @include min-width(600px){
        margin-top: 5px;
      }
      border-radius: 5px;
    }
    img{

      min-width: 100%;
      min-height: 100%;
    }
    .image-cropper {
      width: 10vmin;
      height: 10vmin;
      display: flex;
      @include flex-column();
      justify-content: center;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      margin: 5px;
    }
    @include min-width(600px){
      @include flex-column();
      flex-wrap: wrap;
      justify-content: center !important;
    }
  }
}
.image-cropper {
  width: 10vmin;
  height: 10vmin;
  display: flex;
  @include flex-column();
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 5px;
  img{

    min-width: 100%;
    min-height: 100%;
  }
}
body{
  @include bcg;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
.mainmyacc{
  display: unset;
  min-height: 100vh;
  height: max-content !important;
}
.datepicker-container{
  color: initial !important;
}
tbody *{
  color: black !important;
}
.myacc{
  margin-top: 65px !important;
  padding-bottom: 65px !important;
  position: relative;
  padding: 5px;
  span{
    color:white !important;
  }
  top: 65px;
  .header, .section{
    border-top: 1px solid grey;
    padding: 5px;
    margin-bottom: 5px;
  }
  .section{
    padding: 15px;
    @include max-width(600px){
      @include flex-row();
      justify-content: stretch;
      .content{
        flex-grow: 2;
      }
      .title{
        width: 117px !important;
        text-align: center !important;
      }
    }
  }
  .header-head{
    @include flex-row();
    img{
      height: 40px;
    }
    .uinfo{
      @include flex-column();
      align-items: flex-start !important;
      margin-left: 5px;
      .name{
        font-size: 1.4em;
      }
      .datecreated{
        font-size: .8em;
        transform: translateY(-.4em);
      }
    }
  }
  .body{
    *{
      color: white;
    }
    input{
      color: white !important;
    }
    input[type="submit"]{
      background: linear-gradient(var(--left-bg-color), #000)  !important;
      border: none !important;
    }
    .section{
      font-size: large;
      .title{
        margin-right: 15px;
      }
      .content{
        border-left: 1px solid grey;

        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

.addressform{
  input, label {
    margin: 5px 5px;
    background-color: transparent !important;
  }
  @include max-width(600px){
    .form-control {
      float: left;
    }
    
    #inputStreet {
      width: 100%;
    }
    
    #inputCity {
      width: 50%;
    }
    
    #inputState {
      width: 15%;
    }
    
    #inputZip {
      width: 28%;
    }
    
    #inputCounty {
      width: 45%;
    }
    
    #inputCountry {
      width: 50%;
    }
  }
  .form-group {
  //  margin: 30px auto;
    width: 450px;
  }
  
  
  input:not([type='submit']){
    margin: 7.5px !important;
    padding-left: 5px;
  }
  input.btn{
 //   margin: 30px auto;

    display: block;
  }
}

.addresscontainer{
  margin-bottom: 20px;
}

.remove-cart-item{
  background-color: transparent !important;
  overflow: visible !important;
}
.sc .removefromcart{
  i{
    color: var(--left-bg-color) !important;
  }
}
.cardinfo{
  margin-top: 40px;

  *{
    color: white !important;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.ordersid{
  display: flex;
  flex-direction: column-reverse !important;
}
.ab-group{
  
  border-bottom: 1px solid gray;
  padding-bottom: 7px;
  .title2{
    @include max-width(700px){
      font-weight: bolder;

    }
    font-size: large;
    margin: 0 !important;
    text-align: left !important;
  }
  .date{
    font-size: small;
    font-weight: bolder;

   // color: gray;
    transform: translateY(-5px) !important;
  }
  .quan, .other1{
    font-size: small;
    @include flex-row();
    justify-content: space-between !important;
  }
  .subid{
    font-size: small;

  }
  .titleimg{
    @include flex-row();
    flex-direction: row-reverse !important;
    img{
      padding: 7px;
    }
  }
  .titleimg-n{
    @include flex-row();
    img{
      padding: 7px;
    }
  }
}

.togglesubs{
  margin-bottom: 10px;
  background-color: gray !important;
}
.cancelorder{
  
  background-color: gray !important;
}
.gotoorders{
  background-color: gray !important;
 
}
.oauth-container{
  margin-top: 2em;
  *{
    color: black !important;
  
  }
}
.nicescroll{
  &::-webkit-scrollbar {
    background-color: black !important;
    width: 5px !important;
  }
}
.rowreverse{
  @include flex-row();
  flex-direction: row-reverse !important;

}

.logintobuy{
  *{
    color: white;
  }
  a{
    color: gray;
    text-decoration: underline !important;
  }
}
.footer{
  //margin-top: 65px !important;
  position: relative;

}
i{
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
body{
  min-height: 100vh !important;
  position: relative;
}

#subs{
  .perfumes{
    width: 100%;
    @include flex-row();
    justify-content: space-around;
    .r{
      @include flex-column();
      
    }
    margin-bottom: 3em;
    padding-top: 2em;
  } 
}
.aboncon{
  span, h1,h2,h3,h4,h5{
    color: white !important;
  }
  margin-bottom: 100px !important;
  position: relative;
  @include max-width(800px){
    @include flex-row();
    justify-content: stretch;
  } 
  @include min-width(800px){
    @include flex-column();
    justify-content: center;
  }
  
  .form{
    @include max-width(800px){
      flex-grow: 3;
      max-width: 60% !important;   
    }
    @include min-width(800px){
      margin-top: 2em;
    }
    padding: 1em;
    position: relative;
    justify-self: start !important;
    @include flex-column();
    align-items: flex-end !important;
    h4{
      margin-top: 0 !important;
    }
    span{
      text-align: end;
    }
    .perfumes{
      width: 100%;
      @include flex-row();
      justify-content: space-around;
      .r{
        @include flex-column();
        
      }
      margin-bottom: 3em;
      padding-top: 2em;
    } 
    form{
      position: relative;
      width: 100%;
      margin-top: 1em;
      @include flex-column();
      align-items: flex-end !important;
      .form-row{
        width: 100%;
      }
      .radio{
        margin-top: 1em;
        label{
          color: white;
          font-size: medium;
        }
        @include flex-row();
      }
      
    } 
    .footer-a{
      margin-top: 1em;
    } 
  }
  top: 130px !important;
  .aboncard{
    background-color: rgb(63, 63, 63);
    padding-bottom: 1em;
    img{
      max-width: 20em;
    }
    max-width: 20em !important;
    .wrt{
      padding-left: 1em;
      padding-right: 1em;
      @include flex-column();
      align-items: flex-start !important;
      .prnm{
        width: 100% !important;
        @include flex-row();
        justify-content: space-between;
      }
      >*{
        margin-top: 1em;
      }
    }
  }
}
.all{
  @include flex-column();
}